@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap");

:root {
  --black: #1c2833;
  --blue: #4c0dca;
  --light: #ffffff;
  --green: #2ecc71;
  --yellow: #f7dc6f;
  --lightBlue: #6495ed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background: #081b29;
  color: var(--light);
}

.mainHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: var(--light);
  text-decoration: none;
  font-weight: 600;
}

.navigation a {
  font-size: 18px;
  color: var(--light);
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.5s;
}

.navigation a:hover {
  color: var(--blue);
}

.navigation a.active {
  color: var(--green);
}

.mainHome {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.main-content {
  max-width: 600px;
}

.main-content h1 {
  font-size: 50px;
  font-weight: 800;
}

.main-content h3 {
  font-size: 30px;
  font-weight: 700;
  color: var(--lightBlue);
}

.main-content p {
  font-size: 16px;
}

.main-content .btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.btn-box a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: var(--green);
  border: 2px solid var(--green);
  border-radius: 8px;
  font-size: 19px;
  color: var(--lightBlue);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 10px;
}
