@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap");
:root {
  --black: #1c2833;
  --blue: #4c0dca;
  --light: #ffffff;
  --green: #2ecc71;
  --yellow: #f7dc6f;
  --lightBlue: #6495ed;
  --blackblue: #081b29;
  --red: #cf1a03;
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background: var(--blackblue);
  color: var(--light);
}

.mainHeader {
  background: transparent;
  position: fixed;
  width: 100%;
  padding: 20px 10%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: var(--light);
  text-decoration: none;
  font-weight: 600;
}

.navigation a {
  font-size: 18px;
  color: var(--light);
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.5s;
}

.btn {
  padding: 5px 10px;
  border-radius: 8px;
  color: var(--red);
  background: var(--green);
  border: none;
}

.navigation a:hover {
  color: var(--red);
}

.navigation a.active {
  color: var(--green);
}

.mainHome {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
  background: url("deve.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-content {
  max-width: 600px;
  height: 50%;
}

.main-content h1 {
  font-size: 50px;
  font-weight: 800;
}

.main-content h3 {
  font-size: 30px;
  font-weight: 700;
  color: var(--lightBlue);
}

.main-content p {
  font-size: 16px;
}

.main-content .btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.btn-box a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  border: 2px solid var(--green);
  border-radius: 10px;
  font-size: 19px;
  color: var(--light);
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 10px;
}

.icons {
  position: absolute;
  bottom: 200px;
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.icons a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid var(--lightBlue);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 20px;
  color: var(--lightBlue);
  text-decoration: none;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.icons a:hover {
  color: var(--blackblue);
}

.icons a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--lightBlue);
  z-index: -1;
  transition: 0.5s;
}

.icons a:hover::before {
  width: 100%;
}

#mainFooter {
  background: transparent;
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainFooter p {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

.mainSpan {
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
  height: 100%;
  background: transparent;
  transition: 3s;
}

.mainSpan:hover {
  background: var(--blackblue);
  opacity: 0.8;
}

#menuToggle {
  background-color: transparent;
  border: none;
  background-size: cover;
  width: 80px;
  height: 80px;
  align-self: start;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  #menuToggle {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}

.navbar-expand-lg {
  background: var(--bs-danger);
}
